PRIVATE_KEY=0xYOUR_PRIVATE_KEY
LIQUIDITY_WALLET=0xYOUR_LIQUIDITY_WALLET
REWARD_WALLET=0xYOUR_REWARD_WALLET
BASESCAN_API_KEY=YOUR_BASESCAN_API_KEY
BASE_RPC_URL=https://mainnet.base.org
TOKEN_ADDRESS=0xFC1c0FFF99845676A588CE21c28C4859F3035866
DEPLOYER_ADDRESS=0x52864a2EabcBa4E8421e541c8E0Ca74c55724732
